/*========== VARIABLES ==========*/
:root {
  --color-white: hsl(0, 0%, 100%);
  --color-lightgrey: hsl(212, 45%, 89%);
  --color-greyblue: hsl(220, 15%, 55%);
  --color-darkblue: hsl(218, 44%, 22%);
}

/*========== GENERAL STYLES ==========*/

* {
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  background-color: var(--color-lightgrey);
}

body,
.qr-container,
.qr-text {
  display: flex;
  flex-direction: column;

}
body {
  gap: 2rem;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

h1, p {
  font-family: Outfit, sans-serif;
  text-align: center;
}

h1 {
  color: var(--color-darkblue);
}

p {
  color: var(--color-greyblue);
  font-size: 15px;
}

a:link {
  color:blue;
}

a:visited {
  color: blueviolet;
}
a:hover {
  color: var(--color-white)
}

a:active {
  color: var(--color-greyblue)
}

/*========== QR STYLES ==========*/

figure img, .qr-container {
  border-radius: 20px
}

figure img {
  max-width: 100%;
  height: auto;
}

.qr-container {
  max-width: 20vw;
  min-width: 12rem;
  height: auto;
  background-color: var(--color-white);
  border: 1px solid var(--color-lightgrey);
  box-shadow: hsla(218, 44%, 22%, 0.1) 0px 1px 0px, hsla(218, 44%, 22%, 0.1) 0px 8px 24px, hsla(218, 44%, 22%, 0.1) 0px 16px 48px;
  padding: 1rem;
  /*flexbox property*/
  gap: .3rem;
}

.qr-text {
  padding: 1rem;
  /*flexbox property*/
  gap: 1rem;
}

/*========== FOOTER STYLES ==========*/

footer p {
  color: var(--color-darkblue)
}

/*========== MEDIA QUERIES ==========*/

/* For most phones with portrait orientation */
@media only screen and (max-height: 930px) and (max-width: 500px) {
  .qr-container {
    max-width: 70vw;
  }
}

/* For tablets with portrait orientation */
@media only screen and (min-height: 930px) and (min-width: 500px) {
  .qr-container {
    max-width: 40vw;
  }
}

/* For most phone and tablets with landscape orientation */
@media only screen and (orientation: landscape) and (max-width: 1250px) {
  .qr-container,
  .qr-text {
    flex-direction: row;
    align-items: center;
  }
  .qr-container {
    max-width: 85vw;
  }
  figure img {
    width: 100%;
  }
}